@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
@media (min-width: 640px) { 
  .sm\:h { height: 80vh; }

  
}
body{
    background-color: rgb(41, 41, 41);
    color: black;
    font-family: 'Poppins', sans-serif;
}

.concversation{
    background-color: rgb(35, 74, 57);
    color: black;
    font-family: 'Poppins', sans-serif;
}